{{ form_start(form, { 'action': path('company_post'), 'attr': { 'class': 'w-full max-w-lg float-right bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4' } }) }}

<h2 class="block uppercase tracking-wide text-gray-700 text-3xl font-bold mb-2">Crear empresa</h2>

<div class="mb-6">
    {{ form_label(form.name, 'Nombre', {'attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
    {{ form_widget(form.name, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
</div>
<div class="mb-6">
    {{ form_label(form.logo, 'Logo', {'attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
    {{ form_widget(form.logo, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
</div>
<div class="mb-6">
    {{ form_label(form.numberEmployees, 'Numero de empleados', {'attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
    {{ form_widget(form.numberEmployees, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
</div>

<div class="mb-6">
    {{ form_label(form.perksToSelect, 'Perks', {'attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
    {{ form_widget(form.perksToSelect, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
</div>

<div class="flex items-center justify-between">
    {{ form_widget(form.submit, {'attr': {'class': 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline'}}) }}
</div>
{{ form_end(form) }}

